@page
@model MyFirstProject.Pages.Forms.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}
<div class="container">
    
        <h1>Person Registration</h1>
        <form method="post">
            <div asp-validation-summary="All" style="color:red"></div>
            <div class=" form-group">
                <label>Name</label>
                <input class="form-control"asp-for="Person.Name"/>
            </div>
            <div class=" form-group">
                <label>Lastname</label>
                <input class="form-control"asp-for="Person.Lastname"/>
            </div>
            <div class=" form-group">
                <label>Email</label>
                <input class="form-control"asp-for="Person.Email"/>
            </div>
            <div class=" form-group">
                <label>Age</label>
                <input class="form-control"asp-for="Person.Age"/>
            </div>
            <div class=" form-group">
                <label>Contactnumber</label>
                <input class="form-control"asp-for="Person.Contactnumber"/>
            </div>
            <div class=" form-group">
                <label>Password</label>
                <input class="form-control"asp-for="Person.Password"/>
            </div>
            <div class=" form-group">
                <label>Confirmpassword</label>
                <input class="form-control"asp-for="Person.Confirmpassword"/>
            </div>
           
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Person ID</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Age</th>
            <th>Contactnumber</th>
            <th>Password</th>
            <th>Confirmpassword</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.Persons)
        {
            <tr>
                <td>@person.PersonId</td>
                <td>@person.Name</td>
                <td>@person.Lastname</td>
                <td>@person.Email</td>
                <td>@person.Age</td>
                <td>@person.Contactnumber</td>
                <td>@person.Password</td>
                <td>@person.Confirmpassword</td>

            </tr>
        }

    </tbody>

</table>
